<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <div class="sidebar">
        <div class="newFolderButton">
            <img src="/assets/folder.svg" alt="Folder">
            <button id="folderBtn">New Folder</button>
        </div>
        
        <div class="newFileButton">
            <img src="/assets/file.svg" alt="File">
            <button id="fileBtn">New File</button>
        </div>
    </div>

    <form method="post" action="/newfolder" id="folderForm" class="folderform hidden">
        <label>Folder name:</label>
        <input type="text" name="foldername">
        <input name="location" class="hidden" id="getlocation">
        <button type="submit">Create</button>
    </form>

    <form method="post" action="/newfile" id="fileForm" class="fileform hidden" enctype="multipart/form-data">
        <label>File name:</label>
        <input name="location" class="hidden" id="filelocation">
        <input type="file" name="avatar">
        <button type="submit">Create</button>
    </form>

    <script>
        const folderBtn = document.getElementById("folderBtn");
        const fileBtn = document.getElementById("fileBtn");
        const folderForm = document.getElementById("folderForm");
        const fileForm = document.getElementById("fileForm");

        document.getElementById("filelocation").value = window.location.pathname;
        document.getElementById("getlocation").value = window.location.pathname;

        folderBtn.onclick = function(e) {
            e.stopPropagation();
            fileForm.classList.remove("visible");
            fileForm.classList.add("hidden");
            folderForm.classList.toggle("hidden");
            folderForm.classList.toggle("visible");
        }

        fileBtn.onclick = function(e) {
            e.stopPropagation();
            folderForm.classList.remove("visible");
            folderForm.classList.add("hidden");
            fileForm.classList.toggle("hidden");
            fileForm.classList.toggle("visible");
        }

        document.addEventListener("click", (e) => {
            if (!folderForm.contains(e.target) && e.target !== folderBtn) {
                folderForm.classList.remove("visible");
                folderForm.classList.add("hidden");
            }
            if (!fileForm.contains(e.target) && e.target !== fileBtn) {
                fileForm.classList.remove("visible");
                fileForm.classList.add("hidden");
            }
        });

        document.getElementById("fileForm").addEventListener("submit", (e)=>{
            const fileinput = document.querySelector('input[type="file"]');
            const file = fileinput.files[0]
            
            if ( file.size > 5 * 1024 * 1024 ){
                e.preventDefault();
                alert("File size must be less than 5 MB !");
            }
        })
    </script>
</body>
</html>