<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="header">
        <a href="/dashboard">
            <img id="home" src="/assets/home.svg" alt="Dashboard Logo">
        </a>
        
        <a href="/logout">
            <img id="logout" src="/assets/logout.svg">
        </a>

    </div>
    <div class="mainSection">
        <%-include("partials/sidebar.ejs")%>
        <%-include("partials/content.ejs")%>
    </div>
</body>
</html>